*{
    margin: 0;
    padding: 0;
    
}

h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* WE CAN CHANGE BLOCK ELEMENTS TO INLINE ELEMENTS BY USING DISPLAY PROPERTY  */
/*  BLOCK ELEMENTS TAKE FULL PAGE WIDTH */
/*  INLINE ELEMENTS TAKE ONLY THE WIDTH OF THE CONTENT */

/* MAKE BLOCK ELEMENTS TO INLINE ELEMENTS */
/* div{
    background-color:pink;
    display: inline;
} */

/* MAKE INLINE ELEMENTS TO BLOCK ELEMENTS */
/* button{
    background-color:rgb(242, 203, 210);
    display: block
} */

/* CONVERTING BLOCK ELEMENTS TO INLINE ELEMENTS */
/* IF WE USE DISPLAY:INLINE, THE BLOCK ELEMENTS WILL BE DISPLAYED INLINE FORMAT BUT WE CANT APPLY MARGIN TOP AND BOTTOM WIDTH AND HEIGHT */
/* IF USE INLINE-BLOCK, WE CAN APPLY MARGIN TOP AND BOTTOM WIDTH AND HEIGHT */
div{
    width: 200px;
    height: 200px;
    margin: 25px;
    padding:20px;
    background-color:rgb(238, 11, 49);
    /* display: inline; */
    display: inline-block;
}

/* WE CAN HIDE THE ELEMENTS BY USING VISIBILITY:HIDDEN OR DISPLAY:NONE BUT DISPLAY:NONE IS MORE USEFUL BECAUSE IT JUST REMOVES IT FROM THE DOCUMENT FLOW  WE CAN USE IT TO HIDE THE ELEMENTS */
.block4{
    /* visibility: hidden; */
    display: none;
}

/* OPACITY IS USED TO SET THE COLOR BRIGHTNESS OF THE ELEMENTS */
/* 0.5 IS 50% BRIGHTNESS rgba(red,green,blue,opacity) */
.block5{
    background-color:rgba(238, 11, 49, 0.5);
}

