*{
    margin: 0;
    padding: 10px;
    color: white;
}

/* EASY MAX:-THEN LESSER MIN:-THEN GREATER */
.container1{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(210, 24, 24);
    margin: 10px;
}
/* CONTAINER 1 IS LESSER THAN 300PX THEN THE BACKGROUND COLOR OF THE CONTAINER WILL BE GREEN */
@media(max-width:300px){
    .container1{
        background-color: rgb(111, 222, 111);
    }

}
.container2{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(222, 111, 111);
    margin: 10px;
}
/* CONTAINER 2 IS GREATER THAN 300PX AND LESSER THAN 400PX THEN THE BACKGROUND COLOR OF THE CONTAINER WILL BE BLUE */
@media(min-width:300px) and (max-width:400px){
    .container2{
        background-color: rgb(6, 3, 45);
    }

}

.container3{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(222, 111, 111);
    margin: 10px;
}
/* CONTAINER 3 IS GREATER THAN 400PX AND LESSER THAN 600PX THEN THE BACKGROUND COLOR OF THE CONTAINER WILL BE PURPLE */
@media(min-width:400px) and (max-width:600px){
    .container3{
        background-color: purple;
    }

}
.container4{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    background-color: rgb(222, 111, 111);
    margin: 10px;
}

/* CONTAINER 4 IS GREATER THAN 600PX THEN THE BACKGROUND COLOR OF THE CONTAINER WILL BE BLUE */
@media(min-width:600px) {
    .container4{
        background-color: rgb(6, 3, 45);
    }

}